@import url(./stylesheets/base.css);
@import url(./stylesheets/utility.css);

.border-bottom {
  border-bottom: 1px solid var(--lynx-gray-color);
}

.width-50 {
  width: 50%;
}

.width-20 {
  width: 21rem;
}

.max-width {
  max-width: 80%;
}

.gap-l {
  gap: var(--m-size);
}

.gap-xxl {
  gap: 10rem;
}

.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.width-xxl {
  width: var(--xxl-size);
  height: var(--xxl-size);
}

.cursor-disabled {
  cursor: not-allowed;
}
